@model IEnumerable<NoVe.Models.FachKompetenzbereich>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Noten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() != 0)
{
    @foreach (var kompetenzbereich in Model)
    {
        <h1>Noten von <br /> @kompetenzbereich.UserName</h1>
        @if (kompetenzbereich.UserRole == "lehrer")
        {
            <a class="nav-link login-button login-submit" asp-area="" asp-controller="Noten" asp-action="NotenToKlasseBack">Zurück zur Klasse</a>
        }
        @if (kompetenzbereich.UserRole == "berufsbildner")
        {
            <a class="nav-link login-button login-submit" asp-area="" asp-controller="Noten" asp-action="NotenToLernendeBack">Zurück zu den Lernenden</a>
        }
        break;
    }
}
@if (Model.Count() != 0)
{
    @foreach (var kompetenzbereich in Model)
    {
        <h2>@kompetenzbereich.Kompetenzbereich.Name</h2>
        <table class="table accept-users">
            <thead>
                <tr>
                    <td>Fach</td>
                    <td>Note</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if (kompetenzbereich.NoteView.Count() != 0)
                {
                    @foreach (var fach in kompetenzbereich.NoteView)
                    {
                        <tr>
                            <td>@fach.Fachname</td>
                            <td>@fach.Notenwert</td>
                            <td>
                                @if ((kompetenzbereich.UserRole == "lehrer") || (kompetenzbereich.UserRole == "schueler" && fach.StudentAlreadyChanged == 0 && kompetenzbereich.InEditTime == 1))
                                {
                                    @Html.ActionLink("Bearbeiten", "NotenEdit", new { notenId = fach.Noteid, fachId = fach.FachId, kompetenzbereichId = kompetenzbereich.Kompetenzbereich.Id })
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
