@model IEnumerable<NoVe.Models.FachKompetenzbereich>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Noten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() != 0)
{
    @foreach (var kompetenzbereich in Model)
    {
      <div style="display: flex;justify-content: space-between;">
          <h1>
              Noten von @kompetenzbereich.UserName: @Html.Raw(ViewBag.Message)
          </h1>
          @if (kompetenzbereich.UserRole == "lehrer")
          {
              <a class="nav-link login-button login-submit top-button" asp-area="" asp-controller="Noten" asp-action="NotenToKlasseBack">Zurück zur Klasse</a>
          }
          @if (kompetenzbereich.UserRole == "berufsbildner")
          {
              <a class="nav-link login-button login-submit top-button" asp-area="" asp-controller="Noten" asp-action="NotenToLernendeBack">Zurück zu den Lernenden</a>
          }
        </div>
        break;
    }
}
@if (Model.Count() != 0)
{
    @foreach (var kompetenzbereich in Model)
    {
        <h2>
            @kompetenzbereich.Kompetenzbereich.Name: @if (@kompetenzbereich.NotenwertKompetenzbereich == 0)
            {
                <span>noch keine Noten</span>
            }
            else
            {@kompetenzbereich.NotenwertKompetenzbereich}
        </h2>
        <table class="table accept-users">
            <thead>
                <tr>
                    <td>Fach</td>
                    <td>Note</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if (kompetenzbereich.NoteView.Count() != 0)
                {
                    @foreach (var fach in kompetenzbereich.NoteView)
                    {
                        <tr>
                            <td>@fach.Fachname</td>
                            <td>
                                @if (@fach.Notenwert == 0)
                                {
                                    <span>noch keine Noten</span>
                                }
                                else
                                {@fach.Notenwert}
                            </td>
                            <td>
                                @if ((kompetenzbereich.UserRole == "lehrer") || (kompetenzbereich.UserRole == "schueler" && fach.StudentAlreadyChanged == 0 && kompetenzbereich.InEditTime == 1))
                                {
                                    @Html.ActionLink("Bearbeiten", "NotenEdit", new { notenId = fach.Noteid, fachId = fach.FachId, kompetenzbereichId = kompetenzbereich.Kompetenzbereich.Id })
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
