@model IEnumerable<NoVe.Models.User>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste aller Benutzer</h1>
<table class="table accept-users">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Rolle</td>
            <td style="width: 35%"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Vorname @user.Nachname</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>
                        <span style="margin-right: 10px">@Html.ActionLink("Löschen", "benutzerloeschen", new { id = user.Id })</span>
                        <span style="margin-right: 10px">@Html.ActionLink("Bearbeiten", "benutzerEdit", new { id = user.Id })</span>
                        <span>@Html.ActionLink("Archivieren", "benutzerArchive", new { id = user.Id })</span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="login-buttons" style="justify-content: center;">
    <a class="nav-link login-button login-submit" asp-area="" asp-controller="Admin" asp-action="BenutzerArchiv" style="width: 30%;text-align: center;">Zum Benutzer Archiv</a>
    <a class="nav-link login-button login-submit" asp-area="" asp-controller="Admin" asp-action="ToIndexBack">Zurück</a>
</div>
