@model IEnumerable<NoVe.Models.User>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Benutzer Archiv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste aller archivierten Benutzer</h1>
<table class="table accept-users">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Rolle</td>
            <td style="width: 35%"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Vorname @user.Nachname</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>
                        <span>@Html.ActionLink("Wiederherstellen", "benutzerWiederherstellen", new { id = user.Id })</span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="login-buttons" style="justify-content: center;">
  <a class="nav-link login-button login-submit" asp-area="" asp-controller="Admin" asp-action="AlleBenutzer" style="width: 30%;text-align: center;">Zurück zur Benutzerliste</a>
</div>
