@model IEnumerable<NoVe.Models.User>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste aller unbestätigten Benutzer</h1>
<table class="table accept-users">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Rolle</td>
            <td>Details</td>
            <td>Bestätigen</td>
            <td>Ablehnen</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Vorname @user.Nachname</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td><a asp-controller="Detail" asp-action="Index" asp-route-id=@user.Id>Details</a></td>
                <td>@Html.ActionLink("Bestätigen", "bestaetigen", new { id = user.Id})</td>
                <td>@Html.ActionLink("Ablehnen", "ablehnen", new { id = user.Id})</td>
            </tr>
        }
    </tbody>
</table>
