@model IEnumerable<NoVe.Models.Kompetenzbereich>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Kompetenzbereiche";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste der Kompetenzbereiche in dem aktuellen Beruf</h1>
<table class="table accept-berufe">
    <thead>
        <tr>
            <td>Name</td>
            <td>Gewichtung</td>
            <td>Rundung</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Count() != 0)
        {
            @foreach (var kompetenzbereich in Model)
            {
                <tr>
                    <td>@kompetenzbereich.Name</td>
                    <td>@kompetenzbereich.Gewichtung</td>
                    <td>@kompetenzbereich.Rundung</td>
                    <td>
                        @Html.ActionLink("Löschen", "KompetenzbereichLoeschen", new { id = kompetenzbereich.Id })
                        @Html.ActionLink("Bearbeiten", "KompetenzbereichEdit", new { id = kompetenzbereich.Id })
                        @Html.ActionLink("Öffnen", "Kompetenzbereiche", new { id = kompetenzbereich.Id })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@using (Html.BeginForm("SafeKompetenzbereich", "Admin"))
{
    <label class="form-login-label" name="name">Name</label>
    <input class="form-login" type="text" name="name" id="name" />

    <label class="form-login-label" name="gewichtung">Gewichtung</label>
    <input class="form-login" type="number" name="gewichtung" id="gewichtung" />

    <label class="form-login-label" name="rundung">Rundung</label>
    <input class="form-login" type="number" name="rundung" id="rundung" step="0.1" />

    <input class="login-submit" type="submit" name="submit" value="Speichern" />
    <a class="nav-link login-button login-submit" asp-area="" asp-controller="Admin" asp-action="Berufe">Zurück</a>
}
