@model IEnumerable<NoVe.Models.Kompetenzbereich>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Kompetenzbereiche";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kompetenzbereiche in einem Beruf</h1>
@if (ViewBag.Message != null)
{
    <p>@Html.Raw(ViewBag.Message)</p>
}
<table class="table accept-berufe">
    <thead>
        <tr>
            <td>Name</td>
            <td>Gewichtung</td>
            <td>Rundung</td>
            <td style="width: 25%"></td>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Count() != 0)
        {
            @foreach (var kompetenzbereich in Model)
            {
                <tr>
                    <td>@kompetenzbereich.Name</td>
                    <td>@kompetenzbereich.Gewichtung</td>
                    <td>@kompetenzbereich.Rundung</td>
                    <td>
                        <span style="margin-right: 10px;">@Html.ActionLink("Löschen", "KompetenzbereichLoeschen", new { id = kompetenzbereich.Id })</span>
                        <span style="margin-right: 10px;">@Html.ActionLink("Bearbeiten", "KompetenzbereichEdit", new { id = kompetenzbereich.Id })</span>
                        <span>@Html.ActionLink("Öffnen", "Faecher", new { id = kompetenzbereich.Id })</span>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<div class="login-wrapper text-center">
    @using (Html.BeginForm("SafeKompetenzbereich", "Admin"))
    {
        <div class="login-form">
            <label class="form-login-label" name="name">Name</label>
            <input class="form-login" type="text" name="name" id="name" />

            <label class="form-login-label" name="gewichtung">Gewichtung</label>
            <input class="form-login" type="number" name="gewichtung" id="gewichtung" />

            <label class="form-login-label" name="rundung">Rundung</label>
            @*<input class="form-login" type="number" name="rundung" id="rundung" step="0.1" />*@
            <select class="form-login" type="number" name="rundung" id="rundung" step="0.1">
                <option value="0.1">0.1</option>
                <option value="0.5">0.5</option>
                <option value="1">1</option>
            </select>

            <div class="login-buttons">
                <input class="login-submit" type="submit" name="submit" value="Speichern" />
                <a class="nav-link login-button login-submit" asp-area="" asp-controller="Admin" asp-action="Berufe">Zurück</a>
            </div>
        </div>
    }
</div>
