@model IEnumerable<NoVe.Models.User>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Benutzer Bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Benutzer bearbeiten</h1>

<div class="login-wrapper text-center">
    @using (Html.BeginForm("ProfilSpeichern", "Account"))
    {
        @if (ViewBag.Message != null)
        {
            <p>@Html.Raw(ViewBag.Message)</p>
        }

        <div class="login-form">
            @if (@Model.Count() != 0)
            {
                @foreach (var benutzer in Model)
                {
                    <label class="form-login-label" name="vorname">Vorname</label>
                    <input class="form-login" type="text" name="vorname" id="vorname" value="@benutzer.Vorname" />

                    <label class="form-login-label" name="nachname">Nachname</label>
                    <input class="form-login" type="text" name="nachname" id="nachname" value="@benutzer.Nachname" />

                    <label class="form-login-label" name="email">E-Mail</label>
                    <input class="form-login" type="email" name="email" id="email" value="@benutzer.Email" disabled style="color:#565656;" />

                    <label class="form-login-label" name="firma">Firma</label>
                    <input class="form-login" type="text" name="firma" id="firma" value="@benutzer.Firma" />

                    <label class="form-login-label" name="lehrmeisterEmail">Lehrmeister Email</label>
                    <input class="form-login" type="text" name="lehrmeisterEmail" id="lehrmeisterEmail" value="@benutzer.LehrmeisterEmail" />

                    <label class="form-login-label" name="passwort">Passwort</label>
                    <input class="form-login" type="text" name="passwort" id="passwort" value="" />

                    <label class="form-login-label" name="passwortCheck">Passwort Check</label>
                    <input class="form-login" type="text" name="passwortCheck" id="passwortCheck" value="" />

                }
                <div class="login-buttons">
                    <input class="login-submit" type="submit" name="submit" value="Speichern" />
                </div>
            }
        </div>
    }
</div>
