@model Klasse

@{
    ViewData["Title"] = "Detail Klasse " + Model.KlasseName;
}

<p class="page-title">@Model.KlasseName</p>
<p>Einladungscode: @Model.KlassenInviteCode</p>
<p>Start Periode: @Model.Startdatum.ToString("dd.MM.yyyy - HH:mm")</p>
<p>Ende Periode: @Model.EndDatum.ToString("dd.MM.yyyy - HH:mm")</p>

<table>
    <tr>
        <th>Schüler</th>
        <th>Rolle</th>
    </tr>
    @if (Model.Users != null)
    {
        @foreach (var schueler in Model.Users)
        {
            <tr>
                <td><a asp-controller="Detail" asp-action="Index" asp-route-id=@schueler.Id>@schueler.Vorname @schueler.Nachname</a></td>
                <td><a asp-controller="Detail" asp-action="Index" asp-route-id=@schueler.Id>@schueler.Role</a></td>
            </tr>
        }

    }
</table>