@model IEnumerable<NoVe.Models.UserWithMark>
@inject DatabaseHelper helper

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste aller Schüler</h1>
@if (ViewBag.Message != null)
{
    <p>@Html.Raw(ViewBag.Message)</p>
}
<table class="table accept-users">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Notendurchschnitt</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Vorname @user.Nachname</td>
                <td>@user.Email</td>
                <td>
                    @if (@user.NotenWert == 0)
                    {
                        <span>noch keine Noten</span>
                    }
                    else
                    {@user.NotenWert}
                </td>
                <td>
                    @Html.ActionLink("Löschen", "schuelerLoeschen", new { id = user.Id })
                    @Html.ActionLink("Noten Einsehen", "notenEinsehen", new { id = user.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="login-wrapper text-center">
    @using (Html.BeginForm("InviteStudent", "Lehrer"))
    {
        <div class="login-form">
            <label class="form-login-label" name="name">Email von Schüler</label>
            <input class="form-login" type="email" name="email" id="email" />

            <div class="login-buttons">
                <input class="login-submit" type="submit" name="submit" value="Hinzufügen" />
            </div>
        </div>
    }
</div>